<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Number</title>
</head>

<body>
    <h1>Random number generated is:</h1>
    <!-- <img data-th-src="${imgUrl}" height="250"> -->
    <img data-th-src="@{images/number{i}.jpg(i=${number})}" height="250">
    <!-- <img data-th-src="@{'images/number' + ${number}+.jpg}" height="250"> -->

</body>

</html>